<div class="jumbotron text-center">
    <div class="container">
    <h1> Login </h1>
    <br>
        <form name="form" ng-submit="vm.login()" role="form">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="input-group">
            <span class="input-group-addon" id="username-label">Username</span>
            <input type="text" class="form-control" placeholder="Choose an username" aria-describedby="username-label">
        </div>
        <br>
        </div>  <!-- col-lg-6 col-lg-offset-3 -->
        
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="input-group">
            <span class="input-group-addon" id="password-label">Password</span>
            <input type="password" class="form-control" placeholder="Choose a password" aria-describedby="password-label">
        </div>

        <!-- AGGIUNGERE EVENTUALI ALERT DURANTE L'INSERIMENTO-->

        <br>
        </div> <!-- col-lg-6 col-lg-offset-3 -->


        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/register" class="btn btn-link">Register</a>
            <a href="#!/home" class="btn btn-link">Return</a>
            
        </div>
        </div> <!-- col-lg-6 col-lg-offset-3 -->
    </form>
    </div> <!-- Container -->
</div>
